.hexagon {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
}
  
.node {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}
  
.node:hover {
    transform: scale(1.2);
    background-color: white;
    color: #333;
}

/* Hexagon node positioning */
.node1 { top: 0; transform: translate(-0%, -50%); }
.node2 { top: 25%; right: 0; transform: translate(50%, -50%); }
.node3 { bottom: 25%; right: 0; transform: translate(50%, 50%); }
.node4 { bottom: 0; transform: translate(-0%, 50%); }
.node5 { bottom: 25%; left: 0; transform: translate(-50%, 50%); }
.node6 { top: 25%; left: 0; transform: translate(-50%, -50%); }

.icon {
    pointer-events: none;
}
